<!-- <div class="container-flex mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <span class="h4">Show SO by district</span>
            <form class="form" [formGroup]="filterForm">
                <div class="form-row">
                    <div class="form-group col-9">

                        <select id="topinputState" class="form-control" formControlName="district"
                            (change)="change1($event.target.value,'filter')">
                            <option selected value="all">All</option>
                            <option *ngFor="let item of allDistricts" [value]="item['districtId']">{{item['name']}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <span class="btn btn-success" (click)="getSoBy('district',filterForm.value.district)">
                            Show
                            <span class="spinner-border p-1" role="status" *ngIf="loading">
                                <span class="sr-only">Loading...</span>
                            </span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <span class="h4">Show SO by local-body</span>
            <form class="form" [formGroup]="filterForm">
                <div class="form-row">
                    <div class="form-group col-10">
                        <select id="inputState" class="form-control" formControlName="localBody">
                            <option selected value="all">All</option>
                            <option *ngFor="let item of filterLBUnderDistrict" [value]="item['localBodyId']">
                                {{item['name']}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-2">
                        <span class="btn btn-success" (click)="getSoBy('localBody',filterForm.value.localBody)">
                            Show
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
<!-- table part -->
<div class="container-flex mt-5">
    <div class="container-flex">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <span class="btn btn-success float-right" data-toggle="modal" data-target="#create">
                    <i class="fa fa-plus"> </i> Add Position
                </span>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Name NP</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allSO; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item[formControlNames.positionCode]}}</td>
                <td>
                   {{item[formControlNames.name]}}
                </td>
                <td>{{item[formControlNames.nameNP]}}</td>


                <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2" data-toggle="modal"
                    data-target="#update" (click)="edit(i)">
                    <i class="fa fa-pencil"> </i>

                </span>
                <span class="btn btn-danger rounded-circle rounded-circle-sm"
                    (click)="delete(item[formControlNames.positionId])">
                    <i class="fa fa-trash"> </i>

                </span>
            </tr>

        </tbody>
    </table>

</div>





<!-- create Modal -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Position</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




                <form [formGroup]="positionForm">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="code">Position Code</label>
                            <input type="text" class="form-control" id="code" placeholder="positionCode"
                                [formControlName]="formControlNames.positionCode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-6">
                            <label for="nameNP">NameNP</label>
                            <input type="text" class="form-control" id="nameNP" placeholder="NameNP"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="pay">Monthly Pay</label>
                            <input type="text" class="form-control" id="pay" placeholder="Monthly Pay"
                                [formControlName]="formControlNames.monthlyPay">
                        </div>
                    </div>
                </form>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="create(positionForm.value)">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updatelocalbody" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Position</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <form [formGroup]="updatePositionForm">
                   
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="ucode">Position Code</label>
                            <input type="text" class="form-control" id="ucode" placeholder="positionCode"
                                [formControlName]="formControlNames.positionCode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="uname">Name</label>
                            <input type="text" class="form-control" id="uname" placeholder="Name"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-6">
                            <label for="unameNP">NameNP</label>
                            <input type="text" class="form-control" id="unameNP" placeholder="NameNP"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="upay">Monthly Pay</label>
                            <input type="text" class="form-control" id="upay" placeholder="Monthly Pay"
                                [formControlName]="formControlNames.monthlyPay">
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal"
                    (click)="doEdit(updatePositionForm.value)">Update</button>
            </div>
        </div>
    </div>
</div>