<div class="container mt-5">

    <p style="text-align: center;"><strong>Rural Water Supply and Sanitation Fund Development Board</strong></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><strong>Office Memorandum</strong></p>

    <table class="borderAround">
        <tbody>
            <tr>
                <td width="75">
                    <p><strong>To: </strong></p>
                </td>
                <td width="325">
                    <p> {{allStaffs[memo['staffIdTo']]['staffCode']}}</p>
                </td>
                <td width="126">
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Batch No: {{contractDetails['batchNo']}}</strong></p>
                </td>
                <td width="133">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="75">
                    <p><strong>Through: </strong></p>
                </td>
                <td width="325">
                    <p> {{allStaffs[memo['staffIdThrough']]['staffCode']}} </p>
                    <p><strong>&nbsp;</strong></p>
                </td>
                <td width="126">
                    <p><strong>Date:</strong></p>
                </td>
                <td width="133">
                    <p> {{memo['date']}}&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="75">
                    <p><strong>From: </strong></p>
                </td>
                <td width="325">
                    <p> {{allStaffs[memo['staffIdFrom']]['staffCode']}}/</p>
                </td>
                <td width="126">
                    <p> &nbsp;</p>
                </td>
                <td width="133">
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p><strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;Subject: </strong></strong><strong><u><strong>Recommendation for
                    <!-- 1</strong></u></strong> -->
                    {{memo['phase']}}</strong></u></strong>
        <!-- <strong><sup><strong>st</strong></sup></strong> -->

        <strong><u><strong> payment
                    of Post Implementation Phase </strong></u></strong></p>
    <table>
        <tbody>
            <tr>
                <td width="330">
                    <p><strong><strong>Name of Support Organization : {{contractDetails['name']}}</strong></strong></p>
                </td>
                <td width="350">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="330">
                    <p><strong><strong>District Name: {{district}}</strong></strong></p>
                </td>
                <td width="350">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="330">
                    <p><strong><strong>Date of Contract : {{contractDetails['createdOn'].slice(0,10)}}
                            </strong></strong></p>
                </td>
                <td width="350">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="330">
                    <p><strong><strong>Contract Duration:
                                {{contractDuration/(1000*60*60*24)}} days&nbsp;</strong></strong></p>
                    <p><strong><strong>&nbsp;</strong></strong></p>
                    <p><strong><strong>Latest Contract Amendment Date (if any): &nbsp;</strong></strong></p>
                    <p>&nbsp;</p>
                </td>
                <td width="350">
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p><strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Payment Status to Date (as per contract/latest
                amendment):</strong></strong></p>
    <table class="showBorder">
        <tbody>
            <tr>
                <td width="108">
                    <p><strong><strong>No. of Schemes </strong></strong></p>
                </td>
                <td width="108">
                    <p><strong><strong>Contract Amount </strong></strong></p>
                </td>
                <td colspan="2" width="204">
                    <p><strong><strong>Payment Amount (NRs) </strong></strong></p>
                </td>
                <td width="114">
                    <p><strong><strong>Payment made to date </strong></strong></p>
                </td>
                <td width="132">
                    <p><strong><strong>Balance Payment to be made </strong></strong></p>
                </td>
            </tr>
            <tr>
                <td width="108">
                    <p>&nbsp;</p>
                </td>
                <td width="108">
                    <p>&nbsp;</p>
                </td>
                <td width="90">
                    <p><strong><strong>First</strong></strong></p>
                </td>
                <td width="114">
                    <p><strong><strong>Second </strong></strong></p>
                </td>
                <td width="114">
                    <p>&nbsp;</p>
                </td>
                <td width="132">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="108">
                    <p> {{schemes.length}}</p>
                </td>
                <td width="108">
                    <p>{{calculatedData['fairGrandTotal']}}</p>
                </td>
                <td width="90">
                    <p>{{calculatedData['firstPaymentTotal']}}</p>
                </td>
                <td width="114">
                    <p>{{calculatedData['secondPaymentTotal']}}</p>
                </td>
                <td width="114">
                    <!-- <p *ngIf="memo['phase']=='first'">{{calculatedData['firstPaymentTotal']}}</p>
                    <p *ngIf="memo['phase']=='second'">{{calculatedData['fairGrandTotal']}}</p> -->
                    <p *ngIf="memo['phase']=='first'">{{0}}</p>
                    <p *ngIf="memo['phase']=='second'">{{calculatedData['firstPaymentTotal']}}</p>
                </td>
                <td width="132">
                    <p *ngIf="memo['phase']=='first'">{{calculatedData['fairGrandTotal']}}</p>
                    <p *ngIf="memo['phase']=='second'">{{calculatedData['secondPaymentTotal']}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>The SO has completed the following requirements in Post Implementation Phase Program as per the contract. I have
        reviewed the documents and found the following:</p>
    <ol>
        <li><strong><strong>Request letter is submitted with all the required documents and it is completed.
                </strong></strong></li>
    </ol>

    <p> {{memo['requestLetter']}}</p>
    <ol start="2">
        <li><strong><strong>Has SO submitted consent letter to Local Level. </strong></strong></li>
    </ol>

    <p> {{memo['consentLetter']}}</p>
    <ol start="3">
        <li><strong><strong>Has SO submitted field survey data with required outputs (both soft copy and
                    hard
                    copy).</strong></strong></li>
    </ol>

    <p> {{memo['survey']}}</p>
    <ol start="4">
        <li><strong><strong>SO has opened the SO Bank Account for the sole use of funds to be received
                    from the Fund
                    Board.
                    The evidence regarding this is submitted and acceptable.</strong></strong></li>
    </ol>

    <p> {{memo['bankAccount']}}</p>
    <ol start="5">
        <li><strong><strong>All staffs have been appointed as specified in the contract and it is
                    acceptable. Evidence,
                    in
                    the form of copies of the appointment letters have been submitted which are
                    acceptable.</strong></strong></li>
    </ol>

    <p> {{memo['staffs']}}</p>
    <p>&nbsp;</p>
    <p class="border-upd">The Chief of the Program Development/HRD Division is
        consulted
        when
        reviewing the documents. She/he has reviewed
        the
        documents and is agreed on this recommendation.</p>
    <p><strong><strong>&nbsp;</strong></strong></p>

    <p><strong><strong>Supervisor&rsquo;s Comments/Remarks </strong></strong></p>
    <div class="borderAround">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
    <p><strong><strong>&nbsp;Amount to be paid against {{memo['phase']}} payment in NRs:
                <span *ngIf="memo['phase']=='first'">
                    {{calculatedData['firstpaymentTotalAfterAmendment']}}
                </span>
                <span *ngIf="memo['phase']=='second'">
                    {{calculatedData['secondpaymentTotalAfterAmendment']}}
                </span>

            </strong></strong></p>
    <p>In Word:
        <span *ngIf="memo['phase']=='first'">
            {{calculatedData['firstpaymentTotalAfterAmendmentWR']}}
        </span>
        <span *ngIf="memo['phase']=='second'">
            {{calculatedData['secondpaymentTotalAfterAmendmentWR']}}
        </span>

        &nbsp;</p>
    <table>
        <tbody>
            <tr>
                <td colspan="2" width="665">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="650">
                    <p>&nbsp;</p>
                </td>
                <td width="14">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="650">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </td>
                <td width="14">

                </td>
            </tr>
            <tr>
                <td width="650">
                    <p>&nbsp;</p>
                </td>
                <td width="14">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="650">
                    <table>
                        <tbody>
                            <tr>
                                <td width="291">
                                    <p>Date of Payment: {{memo['date']}} </p>
                                </td>
                                <td width="162">
                                    <p><strong><strong>Payment Amount NRs:

                                            </strong></strong></p>
                                </td>
                                <td width="181">
                                    <p><strong><strong>
                                                <u>
                                                    <span *ngIf="memo['phase']=='first'">
                                                        {{calculatedData['firstpaymentTotalAfterAmendment']}}
                                                    </span>

                                                    <span *ngIf="memo['phase']=='second'">
                                                        {{calculatedData['secondpaymentTotalAfterAmendment']}}
                                                    </span>
                                                </u></strong></strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="291">
                                    <p>&nbsp;</p>
                                    <p>Certified by:</p>
                                </td>
                                <td width="162">
                                    <p>&nbsp;</p>
                                </td>
                                <td width="181">
                                    <p>&nbsp;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="291">
                                    <p>&nbsp;</p>
                                    <p>Chief, Administration Division</p>
                                </td>
                                <td width="162">
                                    <p>&nbsp;</p>
                                </td>
                                <td width="181">
                                    <p>&nbsp;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="291">
                                    <p>&nbsp;</p>
                                </td>
                                <td width="162">
                                    <p>&nbsp;</p>
                                </td>
                                <td width="181">
                                    <p>&nbsp;</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                </td>
                <td width="14">
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>


    <div class="noprint mb-5">
        <button (click)="printPage()"> Print </button>
    </div>

</div>