<div class="container-flex mt-5 mb-5">
    <span class="h4">Select District</span>
    <form class="form" [formGroup]="districtForm">
        <div class="form-row">
            <div class="form-group col-9">
                
                <select id="topinputState" class="form-control" formControlName="district">
                    <option selected value="all">All</option>
                    <option *ngFor="let item of allDistricts" [value]="item['districtId']">{{item['name']}}</option>
                </select>
            </div>
            <div class="form-group col-3">
                <span class="btn btn-success" (click)="getLocalBodyByDistrict(districtForm.value)">
                    Show
                    <span class="spinner-border p-1" role="status" *ngIf="loading">
                        <span class="sr-only">Loading...</span>
                      </span>
                </span>
            </div>
        </div>
    </form>
</div>

<!-- table part -->
<div class="container-flex">
    <div class="container-flex">
    <div class="row">
        <div class="col-6">
           
        </div>
        <div class="col-6">
            <span class="btn btn-success float-right" data-toggle="modal" data-target="#createlocalbody">
                <i class="fa fa-plus"> </i> Add Local Body
            </span>
        </div>
    </div>        
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let item of allLocalBodies; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item[formControlNames.code]}}</td>
                <td>{{item[formControlNames.name]}}</td>
                <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2" 
                data-toggle="modal" data-target="#updatelocalbody"
                (click)="edit(i)">
                    <i class="fa fa-pencil"> </i>

                </span>
                <span class="btn btn-danger rounded-circle rounded-circle-sm"
                    (click)="delete(item[formControlNames.selfid])">
                    <i class="fa fa-trash"> </i>

                </span>
            </tr>

        </tbody>
    </table>

</div>



<!-- Create Modal -->
<div class="modal fade" id="createlocalbody" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Local Body</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




                <form [formGroup]="localBodyForm">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="nameEng">Local Body Name (in English)</label>
                            <input type="text" class="form-control" id="nameEng" placeholder="Name Eng"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="nepali">Local Body Name (in Nepali)</label>
                            <input type="text" class="form-control" id="nepali" placeholder="Name Nep"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="code">LocalBody Code</label>
                            <input type="text" class="form-control" id="code" placeholder="CODE"
                                [formControlName]="formControlNames.code">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="inputState">District</label>
                            <select id="inputState" class="form-control" formControlName="role"
                                [formControlName]="formControlNames.id">
                                <option value='' selected>Select District</option>
                                <option *ngFor="let item of allDistricts" [value]="item['districtId']">{{item['name']}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Address</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Address"
                                formControlName="userName">
                        </div>
                    </div> -->

                </form>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="create(localBodyForm.value)">Create</button>
            </div>
        </div>
    </div>
</div>


<!-- Update  -->
<div class="modal fade" id="updatelocalbody" tabindex="-1" role="dialog" aria-labelledby="updatelocalbody"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Local Body</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="updateLocalBodyForm">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="unameEng">Local Body Name (in English)</label>
                            <input type="text" class="form-control" id="unameEng" placeholder="Name Eng"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="unepali">Local Body Name (in Nepali)</label>
                            <input type="text" class="form-control" id="unepali" placeholder="Name Nep"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="ucode">LocalBody Code</label>
                            <input type="text" class="form-control" id="ucode" placeholder="CODE"
                                [formControlName]="formControlNames.code">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="uinputState">District</label>
                            <select id="uinputState" class="form-control" formControlName="role"
                                [formControlName]="formControlNames.id" required>
                                <option value='' selected>Select District</option>
                                <option *ngFor="let item of allDistricts" [value]="item['districtId']">{{item['name']}}</option>
                            </select>
                        </div>
                    </div>

                </form>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal"
                    (click)="doEdit(updateLocalBodyForm.value)">Update</button>
            </div>
        </div>
    </div>
</div>