
<!-- table part -->
<div class="container-flex mt-5">
    <div class="container-flex">
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6">
                <span class="ml-2 btn btn-success float-right" (click)="edit()" data-toggle="modal" data-target="#update">
                    <i class="fa fa-gear"> </i> PM settings
                </span>
                <span class="btn btn-success float-right" data-toggle="modal" data-target="#addPeople">
                    <i class="fa fa-plus"> </i> Add Pm
                </span>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Full Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Details</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
    
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allPm; let i = index;">
                <td>{{i+1}}</td>
            <td>{{item[personControlNames.personCode]}}</td>
            <td>
                <span *ngIf="item[personControlNames.firstName]">{{item[personControlNames.firstName]}} </span>
                <span *ngIf="item[personControlNames.middleName]">{{item[personControlNames.middleName]}} </span>
                <span *ngIf="item[personControlNames.lastName]">{{item[personControlNames.lastName]}} </span>
            </td>
            <td>{{item[personControlNames.phone1]+', '+item[personControlNames.phone1]}}</td>
            <td>{{item[personControlNames.gender]+', '+item[personControlNames.mStatus]}}</td>
            <td>{{item[personControlNames.address]}}</td>
            <td>{{item[personControlNames.email]}}</td>

            <!-- <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2" data-toggle="modal"
            data-target="#addPeople" (click)="getPersonsUnderStaff(item[formControlNames.personId])">
            <i class="fa fa-user"> </i>

        </span> -->

            <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2" data-toggle="modal"
                data-target="#addSO" (click)="getSOUnderPM(item['personId'])">
                <i class="fa fa-envelope"> </i>

            </span>
            <span class="btn btn-danger rounded-circle rounded-circle-sm"
                (click)="removePersonUnderPm(item['staffAllocateId'])">
                <i class="fa fa-trash"> </i>

            </span>
            </tr>

        </tbody>
    </table>

</div>


<!-- create Modal -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Pm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




                <form [formGroup]="pmForm">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="code">Pm Code</label>
                            <input type="text" class="form-control" id="code" placeholder="staffCode"
                                [formControlName]="formControlNames.staffCode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-check">
                            <label for="projectManager" class="form-check-label">Project Manager?</label>
                            <input type="checkbox" class="form-check-input ml-2" id="projectManager"
                                placeholder="Project Manager" [formControlName]="formControlNames.projectManager">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-6">
                            <label for="nameNP">NameNP</label>
                            <input type="text" class="form-control" id="nameNP" placeholder="NameNP"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="monthlyPay">Monthly Pay</label>
                            <input type="text" class="form-control" id="monthlyPay" placeholder="Monthly Pay"
                                [formControlName]="formControlNames.monthlyPay">
                        </div>
                    </div>
                </form>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="create(pmForm.value)">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- update modal -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Local Body</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <form [formGroup]="updatePmForm">

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="ucode">Pm Code</label>
                            <input type="text" class="form-control" id="ucode" placeholder="staffCode"
                                [formControlName]="formControlNames.staffCode">
                        </div>

                    </div>

                   

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="uname">Name</label>
                            <input type="text" class="form-control" id="uname" placeholder="Name"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-6">
                            <label for="unameNP">NameNP</label>
                            <input type="text" class="form-control" id="unameNP" placeholder="NameNP"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="umonthlyPay">Monthly Pay</label>
                            <input type="text" class="form-control" id="umonthlyPay" placeholder="Monthly Pay"
                                [formControlName]="formControlNames.monthlyPay">
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal"
                    (click)="doEdit(updatePmForm.value)">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- add people modal -->
<div class="modal fade" id="addPeople" tabindex="-1" role="dialog" aria-labelledby="addPeople" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add People</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <form [formGroup]="updatePmForm">
                    <div class="row">
                        <div class="form-group col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of allPerson; let i = index;">
                                        <td>{{i+1}}</td>
                                        <td>{{item['personCode']}}</td>
                                        <td>
                                            <span *ngIf="item['firstName']">{{item['firstName']}}
                                            </span>
                                            <span *ngIf="item['middleName']">{{item['middleName']}}
                                            </span>
                                            <span *ngIf="item['lastName']">{{item['lastName']}}
                                            </span>
                                        </td>



                                        <td>
                                            <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2"
                                                (click)="addPersonUnderPm(item['personId'])">
                                                <i class="fa fa-plus"> </i>

                                            </span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- add SO and Batch modal -->
<div class="modal fade" id="addSO" tabindex="-1" role="dialog" aria-labelledby="addProject" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign SO to PM</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" [formGroup]="filterForm">
                    <div class="form-row">
                        <div class="form-group col-12">
                            Select Batch:
                            <select id="topinputState" class="form-control" formControlName="batchId" (change)="selectBatch(filterForm.value.batchId)">
                                <option selected value="all">All</option>
                                <option *ngFor="let item of allBatch" [value]="item['batchId']">{{item['batchNo']}}</option>
                            </select>
                        </div>
                       
                    </div>
                </form>


                <form>
                    <div class="row">
                        <div class="col-6">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of allSo; let i = index;">
                                        <td>{{i+1}}</td>
                                        <td>{{item['soCode']}}</td>
                                        <td>
                                            {{item['name']}}
                                            
                                        </td>



                                        <td>
                                            <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2"
                                                (click)="addSOUnderPM(item['soId'])">
                                                <i class="fa fa-plus"> </i>

                                            </span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <div class="card w-100">
                                <h5 class="card-title text-center mt-3 bg-light">Assigned SO</h5>
                                <div class="card-body mb-2 bg-light">
                                    <div>
                                        <div >
                                            <div class="card-title text-center">
                                                <h6 *ngFor="let item of selectedSoUnderBatch;let i = index;"
                                                    class="btn btn-success w-100">
                                                    <span>{{item['soCode'] + ' || '}}
                                                    </span>
                                                    <span>{{item['name']}}
                                                    </span>
                                                    <span class="btn btn-danger float-right"
                                                        (click)="removeSOUnderPM(item['pmAllocateId'])">
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>