<div class="container-flex mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <span class="h4">Show SO by district</span>
            <form class="form" [formGroup]="filterForm">
                <div class="form-row">
                    <div class="form-group col-9">

                        <select id="topinputState" class="form-control" formControlName="district"
                            (change)="change1($event.target.value,'filter')">
                            <option selected value="all">All</option>
                            <option *ngFor="let item of allDistricts" [value]="item['districtId']">{{item['name']}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <span class="btn btn-success" (click)="getSoBy('district',filterForm.value.district)">
                            Show
                            <span class="spinner-border p-1" role="status" *ngIf="loading">
                                <span class="sr-only">Loading...</span>
                            </span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <span class="h4">Show SO by local-body</span>
            <form class="form" [formGroup]="filterForm">
                <div class="form-row">
                    <div class="form-group col-10">
                        <select id="inputState" class="form-control" formControlName="localBody">
                            <option selected value="all">All</option>
                            <option *ngFor="let item of filterLBUnderDistrict" [value]="item['localBodyId']">
                                {{item['name']}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-2">
                        <span class="btn btn-success" (click)="getSoBy('localBody',filterForm.value.localBody)">
                            Show
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- table part -->
<div class="container-flex">
    <div class="container-flex">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <span class="btn btn-success float-right" data-toggle="modal" data-target="#create">
                    <i class="fa fa-plus"> </i> Add SO
                </span>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">ward</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">contactPerson</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allSO; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item[formControlNames.soCode]}}</td>
                <td>{{item[formControlNames.name]}}</td>
                <td>{{item[formControlNames.ward]}}</td>
                <td>{{item[formControlNames.address]}}</td>
                <td>{{item[formControlNames.phone1]+', '+item[formControlNames.phone1]}}</td>
                <td>{{item[formControlNames.contactPerson]+', '+item[formControlNames.cPhone]}}</td>

                <td>
                    <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2" data-toggle="modal"
                        data-target="#addStaff" (click)="selectSo(item.soId)">
                        <i class="fa fa-user"> </i>

                    </span>
                    <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2" data-toggle="modal"
                        data-target="#update" (click)="edit(i)">
                        <i class="fa fa-pencil"> </i>

                    </span>
                    <span class="btn btn-danger rounded-circle rounded-circle-sm"
                        (click)="delete(item[formControlNames.soId])">
                        <i class="fa fa-trash"> </i>

                    </span>
                </td>
            </tr>

        </tbody>
    </table>

</div>





<!-- create Modal -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create SO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




                <form [formGroup]="soForm">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="name">SO Name (in English)</label>
                            <input type="text" class="form-control" id="name" placeholder="SO NAME"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="nameNP">SO Name (in Nepali)</label>
                            <input type="text" class="form-control" id="nameNP" placeholder="SO NAME NP"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="code">SO Code</label>
                            <input type="text" class="form-control" id="code" placeholder="SO CODE"
                                [formControlName]="formControlNames.soCode">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="street">Street</label>
                            <input type="text" class="form-control" id="street" placeholder="Street"
                                [formControlName]="formControlNames.street">
                        </div>

                        <div class="form-group col-5">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="Address"
                                [formControlName]="formControlNames.address">
                        </div>
                        <div class="form-group col-2">
                            <label for="pobox">Po box</label>
                            <input type="text" class="form-control" id="pobox" placeholder="pobox"
                                [formControlName]="formControlNames.poBox">
                        </div>
                        <div class="form-group col-2">
                            <label for="ward">Ward</label>
                            <input type="number" class="form-control" id="ward" placeholder="ward"
                                [formControlName]="formControlNames.ward">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ph1">Phone Number 1</label>
                            <input type="text" class="form-control" id="ph1" placeholder="Phone No.1"
                                [formControlName]="formControlNames.phone1">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ph2">Phone Number 2</label>
                            <input type="text" class="form-control" id="ph2" placeholder="Phone No.2"
                                [formControlName]="formControlNames.phone2">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="mbl">Mobile No.</label>
                            <input type="text" class="form-control" id="mbl" placeholder="Mobile Number"
                                [formControlName]="formControlNames.mobile">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email"
                                [formControlName]="formControlNames.email">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="fax">Fax</label>
                            <input type="text" class="form-control" id="fax" placeholder="fax"
                                [formControlName]="formControlNames.fax">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cperson">Contact Person</label>
                            <input type="text" class="form-control" id="cperson" placeholder="Contact Person"
                                [formControlName]="formControlNames.contactPerson">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="designaion">Designation</label>
                            <input type="text" class="form-control" id="designaion" placeholder="Designation"
                                [formControlName]="formControlNames.cDesignation">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cphonee">Contact Phone</label>
                            <input type="text" class="form-control" id="cphonee" placeholder="Contact Phone"
                                [formControlName]="formControlNames.cPhone">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cmobile">Contact Mobile</label>
                            <input type="text" class="form-control" id="cmobile" placeholder="Contact Mobile"
                                [formControlName]="formControlNames.cMobile">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="uinputState">District</label>
                            <select id="uinputState" class="form-control"
                                [formControlName]="formControlNames.districtId" required
                                (change)="change1($event.target.value,'create')">
                                <option value='' selected>Select District</option>
                                <option *ngFor="let item of allDistricts" [value]="item['districtId']">{{item['name']}}
                                </option>
                            </select>
                        </div>
                        <!-- <div class="form-group col-md-6">
                            <label for="local">Local Body <span class="spinner-border p-1" role="status" *ngIf="loading">
                                <span class="sr-only">Loading...</span>
                            </span></label>
                            <select id="local" class="form-control" [formControlName]="formControlNames.localBodyId">
                                <option *ngFor="let item of createLBUnderDistrict" [value]="item['localBodyId']">{{item['name']}}
                                </option>
                            </select>
                        </div> -->
                    </div>
                </form>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="create(soForm.value)">Create</button>
            </div>
        </div>
    </div>
</div>
<!-- update modal -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updatelocalbody" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Local Body</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <form [formGroup]="updateSoForm">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="uname">SO Name (in English)</label>
                            <input type="text" class="form-control" id="uname" placeholder="SO NAME"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="unameNP">SO Name (in Nepali)</label>
                            <input type="text" class="form-control" id="unameNP" placeholder="SO NAME NP"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="ucode">SO Code</label>
                            <input type="text" class="form-control" id="ucode" placeholder="SO CODE"
                                [formControlName]="formControlNames.soCode">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="ustreet">Street</label>
                            <input type="text" class="form-control" id="ustreet" placeholder="Street"
                                [formControlName]="formControlNames.street">
                        </div>

                        <div class="form-group col-5">
                            <label for="uaddress">Address</label>
                            <input type="text" class="form-control" id="uaddress" placeholder="Address"
                                [formControlName]="formControlNames.address">
                        </div>
                        <div class="form-group col-2">
                            <label for="upobox">Po box</label>
                            <input type="text" class="form-control" id="upobox" placeholder="pobox"
                                [formControlName]="formControlNames.poBox">
                        </div>
                        <div class="form-group col-2">
                            <label for="uward">Ward</label>
                            <input type="number" class="form-control" id="uward" placeholder="ward"
                                [formControlName]="formControlNames.ward">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="uph1">Phone Number 1</label>
                            <input type="text" class="form-control" id="uph1" placeholder="Phone No.1"
                                [formControlName]="formControlNames.phone1">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="uph2">Phone Number 2</label>
                            <input type="text" class="form-control" id="uph2" placeholder="Phone No.2"
                                [formControlName]="formControlNames.phone2">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="umbl">Mobile No.</label>
                            <input type="text" class="form-control" id="umbl" placeholder="Mobile Number"
                                [formControlName]="formControlNames.mobile">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="uemail">Email</label>
                            <input type="email" class="form-control" id="uemail" placeholder="Email"
                                [formControlName]="formControlNames.email">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ufax">Fax</label>
                            <input type="text" class="form-control" id="ufax" placeholder="fax"
                                [formControlName]="formControlNames.fax">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ucperson">Contact Person</label>
                            <input type="text" class="form-control" id="ucperson" placeholder="Contact Person"
                                [formControlName]="formControlNames.contactPerson">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="udesignaion">Designation</label>
                            <input type="text" class="form-control" id="udesignaion" placeholder="Designation"
                                [formControlName]="formControlNames.cDesignation">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ucphonee">Contact Phone</label>
                            <input type="text" class="form-control" id="ucphonee" placeholder="Contact Phone"
                                [formControlName]="formControlNames.cPhone">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ucmobile">Contact Mobile</label>
                            <input type="text" class="form-control" id="ucmobile" placeholder="Contact Mobile"
                                [formControlName]="formControlNames.cMobile">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="uuinputState">District</label>
                            <select id="uuinputState" class="form-control"
                                [formControlName]="formControlNames.districtId" required
                                (change)="change1($event.target.value,'update')">
                                <option value='' selected>Select District</option>
                                <option *ngFor="let item of allDistricts" [value]="item['districtId']">{{item['name']}}
                                </option>
                            </select>
                        </div>

                        <!-- <div class="form-group col-md-6">
                            <label for="ulocal">Local Body <span class="spinner-border p-1" role="status" *ngIf="loading">
                                <span class="sr-only">Loading...</span>
                            </span></label>
                            <select id="ulocal" class="form-control" [formControlName]="formControlNames.localBodyId">
                                <option *ngFor="let item of updateLBUnderDistrict" [value]="item['localBodyId']">{{item['name']}}
                                </option>
                            </select>
                        </div> -->
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal"
                    (click)="doEdit(updateSoForm.value)">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- add staff and person  -->
<div class="modal fade" id="addStaff" tabindex="-1" role="dialog" aria-labelledby="addStaff" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Staffs to SO</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" [formGroup]="assignForm">
                    <div class="row">
                        <div class="form-group col-4">
                            <select id="staff" class="form-control" formControlName="staffId"
                                (change)="getPersonUnderStaff(assignForm.value.staffId)">
                                <option selected value="none">Select Staff</option>
                                <option *ngFor="let item of allStaff" [value]="item['staffId']">{{item['name']}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <select id="person" class="form-control" formControlName="personId">
                                <option selected value="none">Select Position First</option>
                                <option *ngFor="let item of personUnderStaff" [value]="item['personId']">
                                    {{item['personCode']+ ' || ' +item['firstName']+item['middleName']+ item['lastName']}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-2">
                          <span class="btn btn-success w-100" (click)="assignStaffUnderSo(assignForm.value)"><i class="fa fa-plus"></i> Add</span>
                        </div>

                    </div>
                </form>


                <div class="accordion" id="accordionExample">
                    <div class="card" *ngFor = "let item of staffUnderSo; let i = index;">
                      <div class="card-header"
                      (click)="getPersonAssignedUnderStaff(item.staffId,i)" id="headingOne" data-toggle="collapse" [attr.data-target]="'#acc'+i" aria-expanded="false" aria-controls="collapseOne">
                        <h5 class="mb-0">
                          
                            {{item.name}} 
                            <span class="badge badge-secondary">{{item.number}}</span>
                        </h5>
                      </div>
                  
                      <div [id]="'acc'+i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          <span class="btn btn-success w-100" *ngFor="let element of personUnderAssignedStaff">
                            {{ element['personCode']+' || '+ element['firstName']+ element['middleName']+element['lastName']   }} 
<span class="btn btn-danger rounded-circle float-right" (click)="removePersonAssignedUnderStaff(element.staffAllocateId)"> <i class="fa fa-trash"></i></span>
                          
                        </span>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>