<div class="container mt-5 mb-5">
    <div class="row">
        <!-- <div class="col-4">
            <span class="h4">Show Scheme by SO</span>
            <form class="form" [formGroup]="filterForm">
                <div class="form-row">
                    <div class="form-group col-10">
                        <select id="inputState" class="form-control" formControlName="so">
                            <option value='all'>All</option>
                            <option *ngFor="let item of allSO" [value]="item['soId']">{{item['name']}}
                            </option>


                        </select>
                    </div>
                    <div class="form-group col-2">
                        <span class="btn btn-success" (click)="getSchemeBySo(filterForm.value.so)">
                            Show
                            <span class="spinner-border p-1" role="status" *ngIf="loading">
                                <span class="sr-only">Loading...</span>
                            </span>
                        </span>
                    </div>
                </div>
            </form>
        </div> -->

    </div>
</div>


<div class="container">
    <input type="text" [(ngModel)]="filter.name" placeholder="Search">
    <span class="btn btn-success float-right" data-toggle="modal" data-target="#create">
        <i class="fa fa-plus"> </i> Add Scheme
    </span>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Name(NP)</th>
                <th scope="col">Ward No</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allScheme | filterBy:filter; let i = index;">
                <th scope="row"> {{ i+1 }} </th>
                <td> {{item.schemeCode}}</td>
                <td> {{item.name}}</td>
                <td>{{item.nameNP}}</td>
                <td>{{item.wardNo}}</td>
                <td>

                    <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2" (click)="edit(item)"
                        data-toggle="modal" data-target="#update">
                        <i class="fa fa-pencil"> </i>

                    </span>
                    <span class="btn btn-danger rounded-circle rounded-circle-sm" (click)="delete(item.schemeId)">
                        <i class="fa fa-trash"> </i>

                    </span>

                </td>
            </tr>
        </tbody>
    </table>

</div>



<!-- Modal create -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Scheme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="schemeForm">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="name">Scheme Name (in English)</label>
                            <input type="text" class="form-control" id="name" placeholder="Scheme NAME"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="nameNP">Scheme Name (in Nepali)</label>
                            <input type="text" class="form-control" id="nameNP" placeholder="Scheme NAME"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="code">Scheme Code</label>
                            <input type="text" class="form-control" id="code" placeholder="Scheme CODE"
                                [formControlName]="formControlNames.schemeCode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-5">
                            <label for="ward">District</label>
                            <select id="dis" class="form-control" formControlName="districtId"
                                (change)="getLocalBodyByDistrict(schemeForm.value.districtId)">
                                <option *ngFor="let item of allDistricts" [value]="item['districtId']">{{item['name']}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-5">
                            <label for="ward">Local Body</label>
                            <select id="lb" class="form-control" formControlName="localBodyId">
                                <option *ngFor="let item of localbodies" [value]="item['localBodyId']">{{item['name']}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <label for="ward">Ward No.</label>
                            <select id="wd" class="form-control" [formControlName]="formControlNames.wardNo">
                                <option *ngFor="let item of [].constructor(10); let i = index" [value]="i+1">{{i+1}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-5">
                            <label for="so">Support Organization (SO)</label>
                            <select id="so" class="form-control" formControlName="soId"
                                (change)="getLocalBodyByDistrict(schemeForm.value.soId)">
                                <option *ngFor="let item of allSO" [value]="item['soId']">{{item['name']}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="create(schemeForm.value)">Create</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal update -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Scheme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateSchemeForm">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="uname">Scheme Name (in English)</label>
                            <input type="text" class="form-control" id="uname" placeholder="Scheme NAME"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="unameNP">Scheme Name (in Nepali)</label>
                            <input type="text" class="form-control" id="unameNP" placeholder="Scheme NAME"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="ucode">Scheme Code</label>
                            <input type="text" class="form-control" id="ucode" placeholder="Scheme CODE"
                                [formControlName]="formControlNames.schemeCode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-5">
                            <label for="ward">District</label>
                            <select id="udis" class="form-control" formControlName="districtId"
                                (change)="getLocalBodyByDistrict(updateSchemeForm.value.districtId)">
                                <option *ngFor="let item of allDistricts" [value]="item['districtId']">{{item['name']}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-5">
                            <label for="ward">Local Body</label>
                            <select id="ulb" class="form-control" formControlName="localBodyId">
                                <option *ngFor="let item of localbodies" [value]="item['localBodyId']">{{item['name']}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <label for="ward">Ward No.</label>
                            <select id="uwd" class="form-control" [formControlName]="formControlNames.wardNo">
                                <option *ngFor="let item of [].constructor(10); let i = index" [value]="i+1">{{i+1}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-5">
                            <label for="uso">Support Organization (SO)</label>
                            <select id="uso" class="form-control" formControlName="soId"
                                (change)="getLocalBodyByDistrict(schemeForm.value.soId)">
                                <option *ngFor="let item of allSO" [value]="item['soId']">{{item['name']}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="doEdit(updateSchemeForm.value)">Update</button>
            </div>
        </div>
    </div>
</div>