<div class="container-flex mt-5">
  <div class="h1 text-center"> SO Assignment
    <span class="h4 text-center spinner-border" role="status" *ngIf="loading">
      <span class="sr-only">Loading...</span>
    </span>
     </div> 
     
</div>
<div class="wrapper container mt-5 mb-5">
  <form class="form" [formGroup]="contractForm">
    <div class="form-row">
      <div class="form-group col-6">
        <!-- select SO organization -->
        <label for="batch">Select Batch</label>
        <select id="batch" class="form-control" formControlName="batchId" (change)="changeSoFilter(0,contractForm.value.batchId)">
          <option value='none'>Choose...</option>
          <option *ngFor="let item of allBatch" [value]="item['batchId']">{{item['batchNo']}}</option>
        </select>
      </div>

      <div class="form-group col-6">
        <label for="pm">Select PM</label>
        <select id="pm" class="form-control" formControlName="personId" (change)="changeSoFilter(1,contractForm.value.personId)">
          <option value='none'>Choose...</option>
          <option *ngFor="let item of allProjectManager" [value]="item['personId']">
            <span *ngIf="item['firstName']">{{item['firstName']}} </span>
            <span *ngIf="item['middleName']">{{item['middleName']}} </span>
            <span *ngIf="item['lastName']">{{item['lastName']}} </span>
        
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
     
      <div class="form-group col-12">
        <!-- select SO organization -->
        <label for="so">Select SO <span class="ml-2 text-danger" *ngIf="showNotification">Select Both of Above</span></label>
        <select id="so" class="form-control" formControlName="soId">
          <option value='none'>Choose...</option>
          <option *ngFor="let item of soUnderPM" [value]="item['soId']">{{item['name']}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <!-- select district -->
        <label for="district">Select District </label>
        <select id="district" class="form-control" formControlName="districtId" (change)="selectDistrict(contractForm.value.districtId)">
          <option value='none'>Choose...</option>
          <option *ngFor="let item of allDistrict" [value]="item['districtId']">{{item['name']}} </option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <!-- select Municipality or VDC -->
        <label for="muni">Select Local Body</label>
        <select id="muni" class="form-control" formControlName="localBodyId">
          <option selected value='none'>Choose...</option>
          <option *ngFor="let item of localUnderDistrict" [value]="item['localBodyId']">{{item['name']}}</option>

        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <div class="form-row">
          <label for="scheme">Select Schemes</label>
          <select id="scheme" class="form-control" formControlName="schemeId">
            <option selected value='none'>Choose...</option>
          <option *ngFor="let item of allSchemes;let i = index;" [value]="i">{{item['name']}}</option>
            
          </select>
        </div>
        <div class="form-row mt-2">
          <button  class="btn btn-primary" (click)="addScheme(contractForm.value.schemeId)">Select -></button>
        </div>
      </div>
      <div class="form-group col-6">
        <div class="card border border-info category-card">
          <h5 class="card-title text-center mx-2 mt-2 bg-light">Selected Schemes</h5>
          <div class="card-body mb-2">
            <div class="custom-height">
              <div class="float-left mx-1">
                <div class="card-title text-center">
                  <h6 *ngFor="let item of selectedSchemes;let i = index;"
                  class="btn btn-success mr-2"
                    data-toggle="tooltip" data-placement="top"
                     title="Click to delete"
                     (click)="removeScheme(i)"
                     > {{item.name}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <button routerLinkActive="router-link-active" 
    class="btn btn-primary btn-lg" (click)="generateContract(contractForm.value)"> Generate Contract</button>
  </form>
</div>