<!-- <div class="container-flex mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <span class="h4">Show SO by district</span>
            <form class="form" [formGroup]="filterForm">
                <div class="form-row">
                    <div class="form-group col-9">

                        <select id="topinputState" class="form-control" formControlName="district"
                            (change)="change1($event.target.value,'filter')">
                            <option selected value="all">All</option>
                            <option *ngFor="let item of allDistricts" [value]="item['districtId']">{{item['name']}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <span class="btn btn-success" (click)="getSoBy('district',filterForm.value.district)">
                            Show
                            <span class="spinner-border p-1" role="status" *ngIf="loading">
                                <span class="sr-only">Loading...</span>
                            </span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <span class="h4">Show SO by local-body</span>
            <form class="form" [formGroup]="filterForm">
                <div class="form-row">
                    <div class="form-group col-10">
                        <select id="inputState" class="form-control" formControlName="localBody">
                            <option selected value="all">All</option>
                            <option *ngFor="let item of filterLBUnderDistrict" [value]="item['localBodyId']">
                                {{item['name']}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-2">
                        <span class="btn btn-success" (click)="getSoBy('localBody',filterForm.value.localBody)">
                            Show
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
<!-- table part -->
<div class="container-flex mt-5">
    <div class="container-flex">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <span class="btn btn-success float-right" data-toggle="modal" data-target="#create">
                    <i class="fa fa-plus"> </i> Add Staff
                </span>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Name NP</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allSO; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item[formControlNames.staffCode]}}</td>
                <td>
                    {{item[formControlNames.name]}}
                </td>
                <td>{{item[formControlNames.nameNP]}}</td>

                <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2" data-toggle="modal"
                    data-target="#addPeople" (click)="getPersonsUnderStaff(item[formControlNames.staffId])">
                    <i class="fa fa-user"> </i>

                </span>

                <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2" data-toggle="modal"
                    data-target="#update" (click)="edit(i)">
                    <i class="fa fa-pencil"> </i>

                </span>
                <span class="btn btn-danger rounded-circle rounded-circle-sm"
                    (click)="delete(item[formControlNames.staffId])">
                    <i class="fa fa-trash"> </i>

                </span>
            </tr>

        </tbody>
    </table>

</div>





<!-- create Modal -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Staff</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




                <form [formGroup]="staffForm">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="code">Staff Code</label>
                            <input type="text" class="form-control" id="code" placeholder="staffCode"
                                [formControlName]="formControlNames.staffCode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-6">
                            <label for="nameNP">NameNP</label>
                            <input type="text" class="form-control" id="nameNP" placeholder="NameNP"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="monthlyPay">Monthly Pay</label>
                            <input type="text" class="form-control" id="monthlyPay" placeholder="Monthly Pay"
                                [formControlName]="formControlNames.monthlyPay">
                        </div>
                    </div>
                </form>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="create(staffForm.value)">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- update modal -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Local Body</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <form [formGroup]="updateStaffForm">

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="ucode">Staff Code</label>
                            <input type="text" class="form-control" id="ucode" placeholder="staffCode"
                                [formControlName]="formControlNames.staffCode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="uname">Name</label>
                            <input type="text" class="form-control" id="uname" placeholder="Name"
                                [formControlName]="formControlNames.name">
                        </div>
                        <div class="form-group col-6">
                            <label for="unameNP">NameNP</label>
                            <input type="text" class="form-control" id="unameNP" placeholder="NameNP"
                                [formControlName]="formControlNames.nameNP">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="umonthlyPay">Monthly Pay</label>
                            <input type="text" class="form-control" id="umonthlyPay" placeholder="Monthly Pay"
                                [formControlName]="formControlNames.monthlyPay">
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal"
                    (click)="doEdit(updateStaffForm.value)">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- add people modal -->
<div class="modal fade" id="addPeople" tabindex="-1" role="dialog" aria-labelledby="addPeople" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add People</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <form [formGroup]="updateStaffForm">
                    <div class="row">
                        <div class="form-group col-6">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of allPerson; let i = index;">
                                        <td>{{i+1}}</td>
                                        <td>{{item['personCode']}}</td>
                                        <td>
                                            <span
                                                *ngIf="item['firstName']">{{item['firstName']}}
                                            </span>
                                            <span
                                                *ngIf="item['middleName']">{{item['middleName']}}
                                            </span>
                                            <span
                                                *ngIf="item['lastName']">{{item['lastName']}}
                                            </span>
                                        </td>



                                        <td>
                                            <span class="btn btn-primary rounded-circle rounded-circle-sm mr-2"
                                                (click)="addPersonUnderStaff(item['personId'])">
                                                <i class="fa fa-plus"> </i>

                                            </span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-6">
                            <div class="card category-card">
                                <h5 class="card-title text-center mx-2 mt-3 bg-light">Assigned Persons</h5>
                                <div class="card-body mb-2 bg-light">
                                    <div class="custom-height">
                                        <div class="float-left mx-1">
                                            <div class="card-title text-center">
                                                <h6 *ngFor="let item of personUnderStaff;let i = index;"
                                                    class="btn btn-success mr-2">
                                                    <span>{{item['personCode'] + ' || '}}
                                                    </span>
                                                    <span
                                                    *ngIf="item['firstName']">{{item['firstName']}}
                                                </span>
                                                    <span
                                                        *ngIf="item['middleName']">{{item['middleName']}}
                                                    </span>
                                                    <span
                                                        *ngIf="item['lastName']">{{item['lastName']}}
                                                    </span>
                                                    <span class="btn btn-danger rounded-circle" (click)="removePersonUnderStaff(item['staffAllocateId'])">
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>